<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Pages/style.css">
</head>
<body>
    <div class="gallery-photo-block">
        <ul class="gallery-ul">
            <li class="gallery-li">
                <img class="gallery-img" src="../../img/carillas-dentales.png"/>
            </li>
            <li class="gallery-li">
                <img class="gallery-img" src="../../img/corona.png"/>
            </li>
            <li class="gallery-li">
                <img class="gallery-img" src="../../img/implante-dental.png"/>
            </li>
            <li class="gallery-li">
                <img class="gallery-img" src="../../img/dientes.png"/>
            </li>
            <li class="gallery-li">
                <img class="gallery-img" src="../../img/corona2.png"/>
            </li>
            <li class="gallery-li">
                <img class="gallery-img" src="../../img/diente.png"/>
            </li>
            <li class="gallery-li">
                <img class="gallery-img" src="../../img/Dr. Felipe Zuñiga.png"/>
            </li>
            <li class="gallery-li">
                <img class="gallery-img" src="../../img/dientes1.png"/>
            </li>
            <li class="gallery-li">
                <img class="gallery-img" src="../../img/dientes2.png"/>
            </li>
            <li class="gallery-li"></li>
        </ul>
    </div>
</body>
</html>