<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="treatment-block">
        <div class="treatment-card">
            <div class="treatment-card-image">
                <img src="../../img/corona.png" alt="corona-image"></img>
            </div>
            <div class="treatment-card-text-upper">
                <h1>Corona</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iste quas nihil deleniti porro tempore aliquid cumque ex at, ullam veniam molestiae, velit officiis quis minima labore eius quam necessitatibus.</p>
                <p class="treatment-card-text-lower">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto veniam delectus corporis officiis culpa dolores tenetur ratione esse! Asperiores recusandae corrupti et consequuntur! Eveniet cum veritatis deleniti, temporibus modi reprehenderit?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, facilis. Dicta corrupti ex soluta possimus, consectetur vero non ratione hic, in neque culpa iste ipsam ab, dolorem praesentium provident sequi.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="treatment-block">
        <div class="treatment-card">
            <div class="treatment-card-image">
                <img src="../../img/corona.png" alt="corona-image"></img>
            </div>
            <div class="treatment-card-text-upper">
                <h1>Corona</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iste quas nihil deleniti porro tempore aliquid cumque ex at, ullam veniam molestiae, velit officiis quis minima labore eius quam necessitatibus.</p>
                <p class="treatment-card-text-lower">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto veniam delectus corporis officiis culpa dolores tenetur ratione esse! Asperiores recusandae corrupti et consequuntur! Eveniet cum veritatis deleniti, temporibus modi reprehenderit?</p>
            </div>
        </div>
    </div>
</body>
</html>