.contenedor {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}

.TITULO-SOBRE-MI {
    color: #333;
}

.caja {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Contenedor_imagen {
    flex: 1;
    max-width: 100%;
    margin-bottom: 20px;
}

.Contenedor_imagen img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.Contenedor-Texto {
    flex: 1;
    margin-right: 20px;
}

.Contenedor-Texto p {
    line-height: 1.5;
}

@media (max-width: 1000px) {
    .Contenedor_imagen,
    .Contenedor-Texto {
        max-width: 100%;
        margin-right: 0;
    }
}

.gallery-ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.gallery-li{
    max-height: 40vh;
    flex-grow: 1;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
.gallery-li:last-child{
    flex-grow: 10;
}
@media (max-aspect-ratio: 1/1){
    .gallery-li{
        height: 30vh;
    }
}
@media (max-height: 480px){
    .gallery-li{
        height: 80vh;
    }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px){
    .gallery-ul{
        flex-direction: row;
    }
    .gallery-li{
        height: auto;
        width: 100%;
    }
    .gallery-img{
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}
.gallery-photo-block{
    margin: auto;
    max-width: 100rem;
}